:global(body) {
  font-family: "Dosis", sans-serif;
  background-color: #7E57C2;
  -webkit-font-smoothing: antialiased;
}

.game-title {
  font-size: 4rem;
  color: #fff;
}

.error-msg {
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
}

.round-title {
  font-size: 2.5rem;
  color: #fff;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-3 {
  margin-left: 3rem;
}

.label-player {
  font-size: 1.9rem;
  color: #fff;
  display: inline-block;
  margin-bottom: 0.9rem;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.btn {
  font-family: "Dosis", sans-serif;
  padding: 15px 30px;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  background-color: #7E57C2;
  border: 2px solid #fff;
  border-radius: 2rem;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;

  &:hover, &:focus {
    box-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
    color: #7E57C2;
    border-radius: 3rem;
    background-color: #fff;
  }
}

.btn-movement {
  font-family: "Dosis", sans-serif;
  padding: 30px 30px;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  background-color: #7E57C2;
  border: 2px solid #fff;
  border-radius: 1rem;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;

  &:hover, &:focus {
    box-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
    color: #7E57C2;
    background-color: #fff;
  }
}

.btn-match {
  position: absolute;
  right: 100px;
  font-family: "Dosis", sans-serif;
  padding: 10px 20px;
  font-size: 2.5rem;
  font-weight: 900;
  color: #fff;
  background-color: #7E57C2;
  border: 2px solid #fff;
  border-radius: 1rem;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;

  &:hover, &:focus {
    box-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
    color: #7E57C2;
    background-color: #fff;
  }
}

.container {
  width: 80%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1000px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1540px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.input-player {
  display: block;
  width: 98%;
  padding: .375rem .75rem;
  color: inherit;
  height: calc(1.5em + .75rem + 2px);
  font-family: inherit;
  font-size: 2.1rem;
  font-weight: inherit;
  line-height: 1.8;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
  box-shadow: 0.2rem 0.1rem 1.6rem #5e35b1;
}

.input-player::placeholder {
  color: #B0BEC5;
}

.input-player:focus {
  outline: none;
  box-shadow: 0.2rem 1.3rem 1.6rem #5e35b1;
}